.left_menu__container{
  width: 482px;
  height: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column;
  padding-top: 80px;
  .--item:not(:first-child){
    margin-top: 40px;
  }
  .--item{
    margin-left: 107px;
    color:  #893b67;
    font-size: 15.98px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 4.611px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    cursor: pointer;
    &:hover{
      text-shadow: 1px 2px 2px #777;
    }
  }
}
